name: Build and Release
on:
  push:
    tags:
      - 'v*' 

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pygame pyinstaller

    - name: Build (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        pyinstaller --noconsole --onefile --name "horloge_myToketa" --add-data "al3.png;." --add-data "reveil.mp3;." --add-data "bg.png;." __main__.py

    - name: Build (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        pyinstaller --noconsole --onefile --name "horloge_myToketa" --add-data "al3.png:." --add-data "reveil.mp3:." --add-data "bg.png:." __main__.py
        # Rename to make it clear it's the Linux version
        mv dist/horloge_myToketa dist/horloge_myToketa_Linux

    - name: Build (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        pyinstaller --noconsole --onefile --name "horloge_myToketa" --add-data "al3.png:." --add-data "reveil.mp3:." --add-data "bg.png:." __main__.py
        cd dist && zip -r horloge_myToketa_Mac.zip horloge_myToketa.app/

    - name: Release Assets
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/horloge_myToketa.exe
          dist/horloge_myToketa_Linux
          dist/horloge_myToketa_Mac.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
